<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="wrapper">
  <form action="/signup" method="post">
    <h1>Sign Up</h1>
    <div class="input-box">
      <input type="text" id="username" name="username" placeholder="Username" required>
      <i class='bx bxs-user'></i>
    </div>
    <div class="input-box">
      <input type="email" id="email" name="email" placeholder="Email" required>
      <i class='bx bxs-envelope'></i>
    </div>
    <div class="input-box">
      <input type="password" id="password" name="password" placeholder="Password" required>
      <i class='bx bxs-lock-alt'></i>
    </div>
    <div class="input-box">
      <input type="password" id="passwordcon" name="passwordcon" placeholder="Confirm Password" required>
      <i class='bx bxs-lock-alt'></i>
    </div>
    <button type="submit" id="submit" class="btn">Sign Up</button>
    <div class="back-link">
      <p>Already have an account? <a href="/">Log In</a></p>
    </div>
  </form>
</div>
</body>
<script>
  const submitButton = document.getElementById("submit");
  submitButton.addEventListener("click", async (event) => {
    event.preventDefault(); // Prevent default form submission
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("passwordcon").value;
    const email = document.getElementById("email").value;
    const data = {
      username,
      email,
      password,
    };

    // Regular expression for basic email validation
    const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    if (!emailPattern.test(email)) {
      alert("Please enter a valid email address.");
    return; // Stop form submission if email is invalid
    }

    if (password === confirmPassword) {
      try {
        const response = await fetch("/signup", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });

        const result = await response.json();
      
        if (response.ok) {
          alert("Signup successful!");
          window.location.href = "/setup-profile/${result.user_id}"; // Redirect to login page on success
        } else {
          alert(result.error || "Signup failed. Please try again.");
        }
      } catch(error) {
          console.error("Error:", error);
          alert("An error occurred. Please try again.");
      }
    } else {
      alert("Passwords do not match!");
    }
  });
  </script>
</html>
